## **Pandas 기초**
### - using pandas & numpy

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,3,5,np.nan,4,7])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    4.0
5    7.0
dtype: float64

In [3]:
dates = pd.date_range('20200112', periods=6)
dates

DatetimeIndex(['2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15',
               '2020-01-16', '2020-01-17'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, 
                  columns=['A','B','C','D'])
df

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758
2020-01-15 -0.821270  0.067231  0.577532 -0.075087
2020-01-16  0.100954 -0.286156  0.882690  0.209610
2020-01-17 -0.681601  1.233807 -0.424473 -0.561529

In [5]:
df.head() # list 5

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758
2020-01-15 -0.821270  0.067231  0.577532 -0.075087
2020-01-16  0.100954 -0.286156  0.882690  0.209610

In [6]:
df.head(3) # list 3

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758

In [7]:
df.index

DatetimeIndex(['2020-01-12', '2020-01-13', '2020-01-14', '2020-01-15',
               '2020-01-16', '2020-01-17'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.values

array([[ 1.16293359, -0.13256205, -0.17107769,  1.51768258],
       [-1.28164831, -1.34681234,  0.69761368, -0.07862433],
       [-0.28780506,  0.86316517, -1.1259923 ,  1.35775831],
       [-0.82127034,  0.06723062,  0.57753185, -0.07508683],
       [ 0.10095429, -0.28615613,  0.88269018,  0.20961003],
       [-0.68160123,  1.23380696, -0.42447302, -0.56152902]])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2020-01-12 to 2020-01-17
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.301406  0.066445  0.072715  0.394968
std    0.858144  0.912001  0.780375  0.846397
min   -1.281648 -1.346812 -1.125992 -0.561529
25%   -0.786353 -0.247758 -0.361124 -0.077740
50%   -0.484703 -0.032666  0.203227  0.067262
75%    0.003764  0.664182  0.667593  1.070721
max    1.162934  1.233807  0.882690  1.517683

In [12]:
df.sort_values(by='B', ascending=False) # B기준 내림차순 sort

                   A         B         C         D
2020-01-17 -0.681601  1.233807 -0.424473 -0.561529
2020-01-14 -0.287805  0.863165 -1.125992  1.357758
2020-01-15 -0.821270  0.067231  0.577532 -0.075087
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-16  0.100954 -0.286156  0.882690  0.209610
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624

In [13]:
df # 자체는 변경되지 않음

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758
2020-01-15 -0.821270  0.067231  0.577532 -0.075087
2020-01-16  0.100954 -0.286156  0.882690  0.209610
2020-01-17 -0.681601  1.233807 -0.424473 -0.561529

In [14]:
df['A']

2020-01-12    1.162934
2020-01-13   -1.281648
2020-01-14   -0.287805
2020-01-15   -0.821270
2020-01-16    0.100954
2020-01-17   -0.681601
Freq: D, Name: A, dtype: float64

In [15]:
df[0:3]

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758

In [16]:
df['20200112':'20200114'] # index str 으로도 가능

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758

In [17]:
df.loc[dates[0]] # loc: 인덱스 기준으로 행 데이터 읽기

A    1.162934
B   -0.132562
C   -0.171078
D    1.517683
Name: 2020-01-12 00:00:00, dtype: float64

In [18]:
df.loc[:,['A','B']]

                   A         B
2020-01-12  1.162934 -0.132562
2020-01-13 -1.281648 -1.346812
2020-01-14 -0.287805  0.863165
2020-01-15 -0.821270  0.067231
2020-01-16  0.100954 -0.286156
2020-01-17 -0.681601  1.233807

In [21]:
df.loc['20200112':'20200114',['A','B']]

                   A         B
2020-01-12  1.162934 -0.132562
2020-01-13 -1.281648 -1.346812
2020-01-14 -0.287805  0.863165

In [22]:
df.loc['20200112',['A','B']]

A    1.162934
B   -0.132562
Name: 2020-01-12 00:00:00, dtype: float64

In [23]:
df.loc[dates[0],'A']

1.1629335882119602

In [24]:
df.iloc[3] # iloc: 행 번호를 기준으로 행 데이터 읽기 (0, 1, 2, 3 ~ )

A   -0.821270
B    0.067231
C    0.577532
D   -0.075087
Name: 2020-01-15 00:00:00, dtype: float64

In [25]:
df.loc['20200115']

A   -0.821270
B    0.067231
C    0.577532
D   -0.075087
Name: 2020-01-15 00:00:00, dtype: float64

**iloc[3] & loc['20200115'] 동일한 것 확인 가능**

In [26]:
df.iloc[3:5,0:2]

                   A         B
2020-01-15 -0.821270  0.067231
2020-01-16  0.100954 -0.286156

In [27]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2020-01-13 -1.281648  0.697614
2020-01-14 -0.287805 -1.125992
2020-01-16  0.100954  0.882690

In [28]:
df.iloc[1:3,:]

                   A         B         C         D
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758

In [29]:
df.iloc[:,1:3]

                   B         C
2020-01-12 -0.132562 -0.171078
2020-01-13 -1.346812  0.697614
2020-01-14  0.863165 -1.125992
2020-01-15  0.067231  0.577532
2020-01-16 -0.286156  0.882690
2020-01-17  1.233807 -0.424473

In [30]:
df

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758
2020-01-15 -0.821270  0.067231  0.577532 -0.075087
2020-01-16  0.100954 -0.286156  0.882690  0.209610
2020-01-17 -0.681601  1.233807 -0.424473 -0.561529

In [31]:
df[df.A > 0]

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-16  0.100954 -0.286156  0.882690  0.209610

In [32]:
df[df > 0]

                   A         B         C         D
2020-01-12  1.162934       NaN       NaN  1.517683
2020-01-13       NaN       NaN  0.697614       NaN
2020-01-14       NaN  0.863165       NaN  1.357758
2020-01-15       NaN  0.067231  0.577532       NaN
2020-01-16  0.100954       NaN  0.882690  0.209610
2020-01-17       NaN  1.233807       NaN       NaN

In [33]:
df2 = df.copy()

In [34]:
df2['E'] = ['one', 'one','two','three','four','three'] # E열 추가
df2

                   A         B         C         D      E
2020-01-12  1.162934 -0.132562 -0.171078  1.517683    one
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624    one
2020-01-14 -0.287805  0.863165 -1.125992  1.357758    two
2020-01-15 -0.821270  0.067231  0.577532 -0.075087  three
2020-01-16  0.100954 -0.286156  0.882690  0.209610   four
2020-01-17 -0.681601  1.233807 -0.424473 -0.561529  three

In [35]:
df2['E'].isin(['two','four']) # two or four 유무 확인

2020-01-12    False
2020-01-13    False
2020-01-14     True
2020-01-15    False
2020-01-16     True
2020-01-17    False
Freq: D, Name: E, dtype: bool

In [36]:
df

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -1.281648 -1.346812  0.697614 -0.078624
2020-01-14 -0.287805  0.863165 -1.125992  1.357758
2020-01-15 -0.821270  0.067231  0.577532 -0.075087
2020-01-16  0.100954 -0.286156  0.882690  0.209610
2020-01-17 -0.681601  1.233807 -0.424473 -0.561529

#### **DataFrame에서는 map()대신에 apply()함수를 적용**
- apply() 함수는 DataFrame의 칼럼에 복잡한 연산을 vectorizing할 수 있게 해주는 함수로 매우 많이 활용되는 함수
- apply() 함수는 간단한 경우 lambda() 함수 적용 가능, 복잡한 경우 사용자 정의 함수를 적용할 수도

In [37]:
df.apply(np.cumsum) # cumsum: 배열에서 주어진 축에 따라 누적되는 원소들의 누적 합을 계산하는 함수

                   A         B         C         D
2020-01-12  1.162934 -0.132562 -0.171078  1.517683
2020-01-13 -0.118715 -1.479374  0.526536  1.439058
2020-01-14 -0.406520 -0.616209 -0.599456  2.796817
2020-01-15 -1.227790 -0.548979 -0.021924  2.721730
2020-01-16 -1.126836 -0.835135  0.860766  2.931340
2020-01-17 -1.808437  0.398672  0.436293  2.369811

- np.cumsum(a): 각 row와 column의 구분은 없어지고, 순서대로 sum
- np.cumsum(a, dtype = float): 결과 값의 변수 type을 설정하면서 누적 sum
- np.cumsum(a, axis = 0): axis = 0은 같은 column 끼리의 누적 합
- np.cumsum(a, axis = 1): axis = 1은 같은 row 끼리의 누적 합

In [38]:
df.apply(lambda x: x.max() - x.min())

A    2.444582
B    2.580619
C    2.008682
D    2.079212
dtype: float64