In [1]:
import pandas as pd

dict로 DataFrame 생성

In [2]:
data = { '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
'이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
         '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]}

In [3]:
df = pd.DataFrame(data)
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

DataFrame 조회

In [4]:
print(df.head(3)) # 앞 부분을 3개만 보기

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43

In [5]:
print(df.tail(3)) # 뒷 부분을 3개만 보기

     학번        이름     점수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [6]:
print(df['학번']) # '학번'에 해당되는 열을 보기

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학번, dtype: object

Data(csv) 생성

In [7]:
df.to_csv('df_dict.csv')

한글 encoding err, 다시 save

In [10]:
df.to_csv('df_dict.csv', encoding="utf-8-sig")

외부 데이터 읽기

In [11]:
df2 = pd.read_csv('df2.csv')
print(df2)

   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115

list로 DataFrame 생성

In [12]:
df3 = pd.DataFrame([\
    [1, 'San Diego', 100],\
    [2, 'Los Angeles', 120],\
    [3, 'San Francisco', 90],\
    [4, 'Sacramento', 115]],\
    columns = ['Store ID', 'Location', 'Number of Employees'])
print(df3)

   Store ID       Location  Number of Employees
0         1      San Diego                  100
1         2    Los Angeles                  120
2         3  San Francisco                   90
3         4     Sacramento                  115